.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.home-title {
    font-size: 3rem;
    margin: 0;
    color: #1877F2;
    font-weight: bold;
    margin: 0 0 2rem 0;
}

.game-description {
    background-color: slateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 1.2rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.divider-line {
    margin: 1rem;
    border: 1px solid #dddfe2;
    width: 95%;
}

.board-selection {
    display: flex;
    flex-direction: row;
}

.play-button {
    margin: 0.5rem;
    width: 4rem;
    height: 2.2rem;
    border-radius: 20px;
    background-color: #297ae8;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    transition-duration: 0.2s;
}

.play-button:hover {
    background-color: #1658e5;
    transition-duration: 0.2s;
    cursor: pointer;
}