
.cards-container4x4 {
    display: grid;
    width: 80vw;
    height: 100vh;
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
    background-color: #FFFFFF;
    max-width: 800px;
}

.cards-container6x6 {
    display: grid;
    width: 80vw;
    height: 100vh;
    margin-bottom: 40px;
    grid-template-columns: repeat(6, 1fr);
    background-color: #FFFFFF;
    max-width: 800px;
}