.cards-container4x4 {
    display: grid;
    width: 40rem;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10rem 3rem;
    background-color: #FFFFFF;
    border-radius: 22px;
}

.cards-container6x6 {
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10rem 10rem;
    background-color: #FFFFFF;
    border-radius: 22px;
}